<html>
<head>
<title>{% block title %}Aerobookings{% endblock %}</title>
</head>
<body>

<nav>
{% block nav %}
  <ul>
  <li><a href={% url 'home' %}>Home</a>
{% if user.is_authenticated %}
  <li><a href={% url 'main' %}>Bookings</a>
    <ul>
    <li><a href={% url 'bookings_list' %}>All Bookings</a>
    </ul>
  <li><a href={% url 'about' %}>About</a>
  <li><a href={% url 'logout' %}>Logout</a>
{% endif %}
  </ul>
{% endblock %}
</nav>

{% if user.is_authenticated %}
  <p>Logged in as {{ user.username }}
{% else %}
  <p><a href={% url 'about' %}>About Aerobookings</a>
{% endif %}

{% block content %}

{% endblock %}

<footer>
  <p>
</footer>

</html>