{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block nav %}
  {% if user.is_authenticated %}
    {{ block.super }}
  {% else %}
    <form method=post action={% url 'login' %}>
    {% csrf_token %}
    <label for=username>Username:</label>
    <input type=text name=username id=username>
    <label for=password>Password:</label>
    <input type=password name=password id=password>
    <input type=submit value=Login>
    </form>
  {% endif %}
{% endblock %}

{% block content %}
<main>

<h1>Aircraft Booking System</h1>

<p>Welcome to this demo MVP aircraft booking system. Systems of this kind are
used for managing aircraft flying schedules at flying schools and aeroclubs.

<p>To try out the system, login using these account details:

<p>
<table class=rx>
<thead><tr><td>Username<td>Password<td>Account type
<tbody>
<tr><td>Colonel<td>propeller<td>Staff member
<tr><td>James<td>windsock<td>Customer
<tr><td>Algernon<td>silkscarf<td>Customer
</table>

</main>
{% endblock %}
